@import 'variables';

.about-container {
  background-color: $primary;
  min-height: 81vh;
  padding: 1em 2em !important;
  -webkit-box-shadow: 7px 6px 11px -2px rgba(49, 112, 142, 1);
  -moz-box-shadow: 7px 6px 11px -2px rgba(49, 112, 142, 1);
  box-shadow: 7px 6px 11px -2px rgba(49, 112, 142, 1);
  -webkit-animation: 2s ease 0s normal forwards 1 fadein;
  animation: 2s ease 0s normal forwards 1 fadein;
}

.about-title {
  color: $secondary;
  font-family: $title-font;
  text-decoration: underline;
  text-align: center;
}

.img-contain > img {
  border-radius: 50%;
  width: 260px;
  height: 260px;
}

.about-body {
  font-family: $body-font;
  color: $warning;
  margin-top: 1em;
}

.img-contain {
  display: flex;
  justify-content: center;
}

.technologies {
  clear: both;
  margin-bottom: 4em;
}

.tech-title {
  font-size: 1.2em;
  color: $secondary;
  font-family: $title-font;
}

@media (min-width: 600px) {
  .img-contain {
    display: inline-block;
    float: left;
    margin-right: 1em;
    margin-bottom: 2em;
  }
  .about-title {
    text-align: left;
  }
  .about-body {
    margin-top: 2em;
  }
}
