@import 'variables';

.nav-link {
  font-family: $title-font;
  font-size: 1.1em;
}

.custom-header {
  z-index: 999;
}

.contact-btn {
  color: $primary;
}

.contact-btn:hover {
  color: #e1c87c;
}

.modal-content,
.modal-body {
  background-color: $primary !important;
  color: $warning;
  font-family: $body-font;
}

.modal-item,
.modal-txt {
  color: $secondary;
}

.modal-item {
  margin-left: 0.5em;
}

.modal-item:hover,
.modal-txt:hover {
  color: $ml-sandbox;
}

a:hover {
  text-decoration: none !important;
}

.modal-entry {
  margin: 0.4em 0;
}

.modal-txt {
  margin-left: 0.5em;
}

.modal-content > h3 {
  margin: 0.5em 0 0 0.5em;
}

.modal-body {
  margin-bottom: 2em;
}

@media (max-width: 360px) {
  .nav-link {
    font-size: 1em;
  }
  .welcome-head {
    font-size: 0.9em;
  }
}

@media (max-width: 667px) and (orientation: landscape) {
  .nav-link {
    font-size: 1em;
  }
  .welcome-head {
    font-size: 0.9em;
  }
}

@media (max-width: 824px) and (orientation: landscape) {
  .modal-content > .info-button {
    bottom: 0.5em;
    right: 0.5em;
  }
}
