@import 'variables';

.nav-link {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.37em;
}

.custom-header {
  z-index: 999;
}

.contact-btn {
  color: $primary;
}

.contact-btn:hover {
  color: #e1c87c;
}

.modal-content, .modal-body {
  background-color: $primary !important;
  color: $warning;
  font-family: 'Roboto', sans-serif;
}

.modal-item, .modal-txt {
  color: $secondary;
}

.modal-item {
  margin-left: 0.5em;
}

.modal-item:hover, .modal-txt:hover {
  color: $ml-sandbox;
}

a:hover {
  text-decoration: none !important;
}

@media (min-width: 800px) {
  .modal-txt {
    display: inline;
    margin-left: 1em;
  }
}

@media (max-width: 360px) {
  .nav-link {
    font-size: 1.2em;
  }
  .welcome-head {
    font-size: 0.9em;
  }
}

@media (max-width: 667px) and (orientation: landscape) {
  .nav-link {
    font-size: 1em;
  }
  .welcome-head {
    font-size: 0.9em;
  }
}
