@import 'variables';

.outer {
  height: 77vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-jumbotron {
  margin: 0 3em;
  color: $danger;
  background-color: $primary !important;
  transform: translateZ(0);
}

.welcome {
  font-family: 'Roboto', sans-serif;
}

.subtitle {
  visibility: hidden;
  -webkit-animation: 1.5s ease 3.8s normal forwards 1 fadein;
  animation: 1.5s ease 3.8s normal forwards 1 fadein;
}

@keyframes fadein {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes fadein {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.info-button {
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
}

@media (max-width: 480px) {
  .center-jumbotron {
    margin: 0 0 5em 0!important;
    min-height: 20em;
  }
  .info-button {
    bottom: 2.2em;
    right: 2.2em;
  }
  .outer {
    height: 82vh;
  }
}

@media (max-width: 824px) and (orientation: landscape) {
  .center-jumbotron {
    min-height: 79vh;
    margin: 0 !important;
    padding: 2em !important;
  }
  .info-button {
    bottom: 2.5em;
    right: 2.5em;
  }
}
