@import 'variables';

.outer {
  min-height: 72vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-jumbotron {
  margin: 0 3em;
  color: $danger;
  background-color: $primary!important;
}

.welcome {
  font-family: 'Roboto', sans-serif;
}

.subtitle {
  visibility: hidden;
  -webkit-animation: 1.5s ease 3.2s normal forwards 1 fadein;
  animation: 1.5s ease 3.2s normal forwards 1 fadein;
}

@keyframes fadein {
  0% { 
    visibility: visible;
    opacity: 0; 
  }
  100% { 
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes fadein {
  0% {
    visibility: visible;
    opacity: 0; 
  }
  100% { 
    opacity: 1; 
    visibility: visible;
  }
}

@media(max-width: 480px) {
  .center-jumbotron {
    margin: 0;
  }
}

@media(max-width: 824px) and (orientation: landscape) {
  .center-jumbotron {
    min-height: 72vh;
    margin: 0!important;
    padding: 2em!important;
  }
}
