@import 'variables';

.outer {
  height: 74vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-jumbotron {
  min-height: 30%;
  margin: 0 1em;
  color: $danger;
  background-color: $primary!important;
  position: relative;
  -webkit-animation: 2s ease-out 0s normal forwards 1 slidein;
  animation: 2s ease-out 0s normal forwards 1 slidein;
}

@keyframes slidein {
  0% {
    left: -150%;
  }
  100% {
    left: 0%;
  }
}

@-webkit-keyframes slidein {
  0% {
    left: -150%;
  }
  100% {
    left: 0%;
  }
}

.welcome {
  font-family: 'Roboto', sans-serif;
}

.subtitle {
  visibility: hidden;
  -webkit-animation: 1.5s ease 4.2s normal forwards 1 fadein;
  animation: 1.5s ease 4.2s normal forwards 1 fadein;
}

@keyframes fadein {
  0% { 
    visibility: visible;
    opacity: 0; 
  }
  100% { 
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes fadein {
  0% {
    visibility: visible;
    opacity: 0; 
  }
  100% { 
    opacity: 1; 
    visibility: visible;
  }
}
