@import 'variables';

.project-center {
  margin: 0 1em;
}

.project-holder {
  min-width: 77vw !important;
  min-height: 93vh !important;
  background-color: $primary;
  padding: 0.5em !important;
  -webkit-box-shadow: 7px 6px 11px -2px rgba(49, 112, 142, 1);
  -moz-box-shadow: 7px 6px 11px -2px rgba(49, 112, 142, 1);
  box-shadow: 7px 6px 11px -2px rgba(49, 112, 142, 1);
  -webkit-animation: 2s ease 0s normal forwards 1 fadein;
  animation: 2s ease 0s normal forwards 1 fadein;
}

.back-button-holder {
  display: flex;
  justify-content: flex-end;
}

h2 {
  text-align: center;
}

.display-3 {
  font-family: $title-font;
  color: $secondary;
}

.link-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.link-holder {
  margin: 0.5em 1em 0 1em;
  text-align: center;
  font-size: 0.85em;
}

.project-link {
  color: $danger;
  font-family: $body-font;
}

.project-link:hover {
  text-decoration: none;
}

.link-icon {
  width: 20px;
  height: 20px;
}

.description {
  margin: 1em;
  text-indent: 20px;
  font-family: $body-font;
  color: $secondary;
}

.carousel-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-inner {
  height: 200px;
}

.carousel-item {
  text-align: center;
  width: 100%;
}

.carousel-item > img {
  display: inline-block;
  width: auto;
  height: auto;
  max-width: 100%;
}

.carousel-caption > p {
  background-color: #fdfdfd;
  padding: 0.3em;
  border-radius: 2px;
  opacity: 0.8;
  font-family: $body-font;
  color: $secondary;
  -webkit-box-shadow: 3px 3px 2px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 2px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 2px -2px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.carousel-caption > h3 {
  display: none;
}

.stack-holder {
  display: flex;
  justify-content: center;
}

.stack-title {
  font-size: 1.3em;
  font-family: $title-font;
  color: $secondary;
  text-align: center;
}

.tech-stack {
  color: $warning;
  font-family: $body-font;
  margin-bottom: 4em;
  font-size: 0.85em;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(25%);
}

.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
  filter: invert(15%);
}

@media (min-width: 768px) and (max-width: 799px) and (orientation: portrait) {
  .carousel-inner {
    height: 410px;
  }
}

@media (min-width: 800px) {
  h2 {
    text-align: left;
  }
  .display-3 {
    margin: 0 1em;
  }
  .description {
    margin: 1em 3em;
    text-align: left;
    text-indent: 25px;
  }
  .carousel-inner {
    height: 500px;
  }
}

@media (max-width: 824px) and (orientation: landscape) {
  .carousel-inner {
    height: 320px;
  }
  .carousel-item > img {
    height: 300px;
  }
  .description {
    margin: 1em 3em;
  }
}

@media (max-width: 380px) {
  .display-3 {
    font-size: 3.5em !important;
  }
}

@media (max-width: 361px) {
  .project-link > .link-icon {
    width: 20px;
    height: 20px;
  }
  .display-3 {
    font-size: 3em !important;
  }
}
