@import 'variables';

.projects-body {
  height: 80vh;
}

.card-group {
  margin: 3em 0em 6em 0em;
}

.card {
  background-color: $primary !important;
  transform: translateZ(0);
  margin: 0 0.3em;
  text-align: center;
  border-radius: 0.3rem!important;
}

.card-title {
  font-family: 'Shadows Into Light', cursive;
  margin-top: 0.7em;
  color: $secondary;
  font-size: 1.5em;
}

.card-body {
  font-family: 'Roboto', sans-serif;
  color: $danger;
  margin-bottom: 3em;
}

.btn-projects {
  position: fixed;
  bottom: 1em;
  right: 1em;
  margin-top: 2em;
  width: 7em;
}

@media (min-width: 840px) {
  .card-group {
    margin: 3em 10em;
  }
  .card {
    margin: 0 1em;
  }
}
