@import 'variables';

.project-holder {
  margin-top: 2em;
  background-color: $primary; 
}

.container {
  padding: 0.5em !important;
  border-radius: 0.3rem !important;
}

.back-button-holder {
  display: flex;
  justify-content: flex-end;
}
