@import 'variables';

.card-title {
  font-family: 'Shadows Into Light', cursive;
  margin-top: 0.5em;
}

.card-body {
  font-family: 'Roboto', sans-serif;
}

.card-group {
  margin: 3em 1em 6em 1em;
}
.card {
  transform: translateZ(0);
  margin: 0 1em;
  text-align: center;
}
.btn {
  margin-top: 2em;
}

@media (min-width: 840px) {
  .card-group {
    margin: 3em 10em;
  }
}
