@import 'variables';

.projects-header {
  font-family: 'Roboto', sans-serif;
  margin-top: 1em;
  text-align: center;
  color: $secondary;
}

.projects-body {
  height: 90vh;
}

.card-group {
  margin: 1.5em 0em 7em 0em;
}

.project-cards {
  opacity: 0;
}

.project-cards {
  -webkit-animation: 1.5s ease 0.5s normal forwards 1 fadein;
  animation: 1.5s ease 0.5s normal forwards 1 fadein;
}

.card {
  background-color: $primary !important;
  transform: translateZ(0);
  margin: 0 0.3em;
  text-align: center;
  border-radius: 0.3rem !important;
}

.card-title {
  font-family: 'Shadows Into Light', cursive;
  margin-top: 0.7em;
  color: $secondary;
  font-size: 1.8em;
}

.card-img {
  border-radius: 0 !important;
}

.card-body {
  font-family: 'Roboto', sans-serif;
  color: $danger;
  margin-bottom: 3em;
}

.btn-projects {
  position: fixed;
  bottom: 1em;
  right: 1em;
  margin-top: 2em;
  width: 7em;
}

@media (min-width: 840px) {
  .card-group {
    margin: 3em 7em 7em 7em;
  }
  .card {
    margin: 0 1em;
  }
}
