.fade-appear,
.fade-enter {
  opacity: 0;
  transform: translate3d(-150%, 0, 0);
}

.fade-appear-active,
.fade-enter-active {
  transition: opacity 0.8s linear;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s, opacity 0s 0.4s;
}

.fade-exit {
  transition: opacity 0.8s linear;
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.fade-exit-active {
  opacity: 0;
  transform: translate3d(-150%, 0, 0);
  transition: transform 0.6s, opacity 0s 0.4s;
}

