/* Boostrap Colors Below */
$primary: #EFE2BA; /* light beige */
$secondary: #4056A1; /* dark blue */
$success: #C5CBE3; /* light blue */
$info: #F13C20; /* red */
$warning: #D79922; /* burnt orange */
$danger: #D79922; /* burnt orange */
$light:#C5CBE3; /* light blue */
$dark: #4056A1; /* light beige */

$body-bg: #C5CBE3;
