/* Boostrap Colors Below */
$primary: #f7f9fb; /* light beige */
$secondary: #31708e; /* dark blue */
$success: #c5cbe3; /* light blue */
$info: #5085A5; /* red */
$warning: #687864; /* burnt orange */
$danger: #5085A5; /* burnt orange */
$light: #8fc1e3; /* light blue */
$dark: #31708e; /* dark blue */
$ml-sandbox: #73879B; /* ml-sandbox bg slate */

/* Fonts go here */
$title-font: 'Lato', sans-serif;
$body-font: 'Roboto', sans-serif;

$body-bg: #8fc1e3;
